* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-dark);
  overflow: hidden;
}

/* -------------- */
/* Utility        */
/* -------------- */

.flex-left-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
}

.flex-spaced-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}

.flex-left-column {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-flow: column nowrap;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.flex-spaced-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
}

.diffused-blue {
  position: absolute;
  width: 45vw;
  height: 45vh;
  right: 68vw;
  top: 80vh;
  border-radius: 50%;
  background-color: var(--diffused-blue);
  filter: blur(20rem);
  z-index: -1;
}

.diffused-purple {
  position: absolute;
  width: 45vw;
  height: 45vh;
  left: 90vw;
  bottom: 55vh;
  border-radius: 50%;
  background-color: var(--diffused-purple);
  filter: blur(20rem);
  z-index: -1;
}

.header {
  top: 0;
  width: 80%;
  margin: 0rem auto;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  background: var(--bg-section);
}

.logo {
  font-size: var(--fs-logo);
  background: linear-gradient(82deg, #95b7ea 2.67%, #bf8af3 100.01%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-left: 1rem;
}

.search-box {
  width: 30%;
  outline: none;
  border: none;
  border-radius: calc(var(--radius) - 0.8rem);
  background: var(--bg-section);
  padding: 0.7rem 1.2rem;
  margin-right: 0.3rem;
  font-size: var(--fs-condition);
  font-family: "Quicksand";
  color: var(--font-sub);
  letter-spacing: 0.05rem;
}

.error,
.start {
  color: var(--font-main);
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin: 15rem 0;
}

.main {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "location location location location icon icon others others others others others" "temperature temperature temperature temperature temperature feelslike others others others others others";
  grid-gap: 2rem;
  max-width: 78vw;
  margin: 5rem auto;
}

@media only-screen and (max-width: 425px) {
  body {
    overflow: hidden;
  }
  .header {
    width: 90%;
    margin: 0 auto;
  }

  .search-box {
    padding: 0.5rem;
  }

  .logo {
    font-size: calc(var(--fs-logo) - 1.2rem);
  }

  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "location location location" "feelslike icon icon" "temperature temperature temperature" "others others others" "others others others";
    grid-gap: 2rem;
    max-width: 78vw;
    margin: 5rem auto;
  }
}

@media only-screen and (max-width: 800px) and (min-width: 426px) {
  body {
    overflow-x: hidden;
    max-width: 100vw;
  }
  .header {
    width: 90%;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "location location location location icon icon" "temperature temperature temperature temperature temperature feelslike" "others others others others others others" "others others others others others others";
    grid-gap: 2rem;
    max-width: 78vw;
    margin: 5rem auto;
  }
}
